body {
  font-family: "Poppins", sans-serif;
  background-color: #171539;
  color: white;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  text-align: center;
  color: #f8049c;
}
h3.pair {
  text-align: center;
}
h4 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  color: #f8049c;
}
h5 {
  line-height: 40px;
  margin-left: 20px;
  text-align: left;
}
h6 {
  font-size: small;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.MDco {
  color: #f8049c;
  background-color: rgba(255, 255, 255, 0.2);
}
.md-co-gif {
  display: block;
  margin: 0 auto;
}
.heading {
  font-family: "Pacifico", cursive;
  font-size: 100px;
  color: white;
  text-align: center;
}
.sub {
  font-size: 30px;
  color: #0cc0df;
  font-family: "Poppins";
  text-transform: uppercase;
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-align: center;
}
.subheading {
  font-size: 20px;
  color: #0cc0df;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
.intro-parts {
  margin-top: 100px;
}
.Jen-Headshot {
  margin-bottom: 100px;
  max-height: 500px;
}

/**--------buttons-------**/

.btn-outline-primary {
  color: #0cc0df;
  border: solid 2px #0cc0df;
}

.btn-outline-primary:hover {
  background-color: #f8049c;
  color: white;
  border: solid 2px white;
}

/**--------font awesome-------**/

.fa-react,
.fa-bootstrap,
.fa-apple,
.svgVS {
  color: white;
  width: 60px;
  height: 60px;
}
.fa-arrow-down-long {
  height: 30px;
  color: #0cc0df;
}
.fa-react:hover {
  color: #0cc0df;
  animation: spin 1s linear;
}
.fa-bootstrap:hover {
  color: #7a43b6;
  animation: spin 1s linear;
}
.fa-apple:hover {
  color: #a0a0a0;
  animation: spin 1s linear;
}
.svgVS:hover {
  animation: spin 1s linear;
}

.col-3 {
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**--------navbar-------**/
